@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-cbase: var(--tg-theme-text-color, var(--color-base));
  --color-background: var(--tg-theme-secondary-bg-color, var(--foreground));
  --color-foreground: var(--tg-theme-bg-color, var(--background));
  --color-hint: var(--tg-theme-hint-color, var(--muted-foreground));
  --color-link: var(--tg-theme-link-color, var(--primary));

  --color-primary: var(--tg-theme-button-color, var(--primary));
  --color-primary-foreground: var(--tg-theme-button-text-color, var(--primary-foreground));
  --color-destructive: var(--tg-theme-destructive-text-color, var(--destructive));
  --color-accent: var(--tg-theme-accent-text-color, var(--accent));

  --color-card: var(--tg-theme-bg-color, var(--card));
  --color-card-foreground: var(--tg-theme-button-text-color, var(--card-foreground));
  --color-section-header: var(--tg-theme-section-header-text-color, var(--muted-foreground));
  --color-section-bg: var(--tg-theme-section-bg-color, var(--secondary));
  --color-section-separator: var(--tg-theme-section-separator-color, var(--border));
  --color-subtitle: var(--tg-theme-subtitle-text-color, var(--muted-foreground));

  --color-header-bg: var(--tg-theme-header-bg-color, var(--secondary));
  --color-bottom-bar-bg: var(--tg-theme-bottom-bar-bg-color, var(--background));

  --color-popover: var(--popover, var(--background));
  --color-popover-foreground: var(--popover-foreground, var(--foreground));
  --color-muted: var(--muted, var(--muted-foreground));
  --color-muted-foreground: var(--muted-foreground, var(--foreground));
  --color-input: var(--input, var(--background));
  --color-border: var(--tg-theme-section-separator-color, var(--border));
  --color-ring: var(--ring, var(--primary));

  --color-chart-1: var(--chart-1, var(--primary));
  --color-chart-2: var(--chart-2, var(--accent));
  --color-chart-3: var(--chart-3, var(--destructive));
  --color-chart-4: var(--chart-4, var(--secondary));
  --color-chart-5: var(--chart-5, var(--muted));

  --color-sidebar: var(--sidebar, var(--secondary));
  --color-sidebar-foreground: var(--sidebar-foreground, var(--foreground));
  --color-sidebar-primary: var(--sidebar-primary, var(--primary));
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground, var(--primary-foreground));
  --color-sidebar-accent: var(--sidebar-accent, var(--accent));
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground, var(--accent-foreground));
  --color-sidebar-border: var(--sidebar-border, var(--border));
  --color-sidebar-ring: var(--sidebar-ring, var(--primary));

  --color-card-light: color-mix(in srgb, var(--color-card) 80%, var(--foreground) 20%);
  --color-card-dark: color-mix(in srgb, var(--color-card) 80%, var(--background) 20%);
  --color-primary-light: color-mix(in srgb, var(--color-primary) 80%, var(--background) 20%);
  --color-primary-dark: color-mix(in srgb, var(--color-primary) 80%, var(--foreground) 20%);
  --color-destructive-light: color-mix(in srgb, var(--color-destructive) 80%, var(--background) 20%);
  --color-destructive-dark: color-mix(in srgb, var(--color-destructive) 80%, var(--foreground) 20%);
  --color-muted-light: color-mix(in srgb, var(--color-muted) 80%, var(--background) 20%);
  --color-muted-dark: color-mix(in srgb, var(--color-muted) 80%, var(--foreground) 20%);
}


:root {
  --radius:
    0.625rem;
  --background:
    oklch(1 0 0);
  --foreground:
    oklch(0.145 0 0);
  --card:
    oklch(1 0 0);
  --card-foreground:
    oklch(0.145 0 0);
  --popover:
    oklch(1 0 0);
  --popover-foreground:
    oklch(0.145 0 0);
  --primary:
    oklch(0.205 0 0);
  --primary-foreground:
    oklch(0.985 0 0);
  --secondary:
    oklch(0.97 0 0);
  --secondary-foreground:
    oklch(0.205 0 0);
  --muted:
    oklch(0.97 0 0);
  --muted-foreground:
    oklch(0.556 0 0);
  --accent:
    oklch(0.97 0 0);
  --accent-foreground:
    oklch(0.205 0 0);
  --destructive:
    oklch(0.577 0.245 27.325);
  --destructive-foreground:
    oklch(0.577 0.245 27.325);
  --border:
    oklch(0.922 0 0);
  --input:
    oklch(0.922 0 0);
  --ring:
    oklch(0.708 0 0);
  --chart-1:
    oklch(0.646 0.222 41.116);
  --chart-2:
    oklch(0.6 0.118 184.704);
  --chart-3:
    oklch(0.398 0.07 227.392);
  --chart-4:
    oklch(0.828 0.189 84.429);
  --chart-5:
    oklch(0.769 0.188 70.08);
  --sidebar:
    oklch(0.985 0 0);
  --sidebar-foreground:
    oklch(0.145 0 0);
  --sidebar-primary:
    oklch(0.205 0 0);
  --sidebar-primary-foreground:
    oklch(0.985 0 0);
  --sidebar-accent:
    oklch(0.97 0 0);
  --sidebar-accent-foreground:
    oklch(0.205 0 0);
  --sidebar-border:
    oklch(0.922 0 0);
  --sidebar-ring:
    oklch(0.708 0 0);
}

.dark {
  --background:
    oklch(0.145 0 0);
  --foreground:
    oklch(0.985 0 0);
  --card:
    oklch(0.145 0 0);
  --card-foreground:
    oklch(0.985 0 0);
  --popover:
    oklch(0.145 0 0);
  --popover-foreground:
    oklch(0.985 0 0);
  --primary:
    oklch(0.985 0 0);
  --primary-foreground:
    oklch(0.205 0 0);
  --secondary:
    oklch(0.269 0 0);
  --secondary-foreground:
    oklch(0.985 0 0);
  --muted:
    oklch(0.269 0 0);
  --muted-foreground:
    oklch(0.708 0 0);
  --accent:
    oklch(0.269 0 0);
  --accent-foreground:
    oklch(0.985 0 0);
  --destructive:
    oklch(0.396 0.141 25.723);
  --destructive-foreground:
    oklch(0.637 0.237 25.331);
  --border:
    oklch(0.269 0 0);
  --input:
    oklch(0.269 0 0);
  --ring:
    oklch(0.439 0 0);
  --chart-1:
    oklch(0.488 0.243 264.376);
  --chart-2:
    oklch(0.696 0.17 162.48);
  --chart-3:
    oklch(0.769 0.188 70.08);
  --chart-4:
    oklch(0.627 0.265 303.9);
  --chart-5:
    oklch(0.645 0.246 16.439);
  --sidebar:
    oklch(0.205 0 0);
  --sidebar-foreground:
    oklch(0.985 0 0);
  --sidebar-primary:
    oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground:
    oklch(0.985 0 0);
  --sidebar-accent:
    oklch(0.269 0 0);
  --sidebar-accent-foreground:
    oklch(0.985 0 0);
  --sidebar-border:
    oklch(0.269 0 0);
  --sidebar-ring:
    oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.list-item {
  @apply flex items-center w-full px-5 py-3 text-left;
}