@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, dim --prefersdark;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all .35s cubic-bezier(.25, .8, .25, 1);
}

.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(40px);
}

.slide-up-enter-to,
.slide-up-leave-from {
  opacity: 1;
  transform: translateY(0);
}